!!!
%html(class="#{controller_name} #{action_name}")
  %head
    %title Dribbble2x - Dribbble @2x Viewer(Alpha)
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    = javascript_include_tag "application"
    /[if lt IE 9]
      %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    
  %body(class="#{controller_name} #{action_name}")
    .topbar
      %h1 Dribbble2x
    .body
      = yield
    .footer
      %ul
        %li
          %a{:href => "http://dribbble.com/api"} Dribbble API
        %li
          Powered by 
          %a{:href => "http://g-g-g-g-b-b.com"} Gil Hyun

:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40679731-1', 'dribbble2x.com');
  ga('send', 'pageview');